body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #e0ffff, #cce0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    width: 80%;
    height: 80%;
    max-width: 1200px;
    margin: 30px 160px;
}

.horizontal-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.horizontal-layout > div {
    width: 100%;
}
  
#toolbar_here {
text-align: right;
}

.form-container {
    width: 50%;
    padding-right: 40px;
}

.description {
    width: 50%;
    border-left: 1px solid #ddd; 
    padding-left: 40px;
    text-align: justify;
    line-height: 1.6;
}

.description h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"], input[type="text"], textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Spacing and separators */
button + button {
    margin-left: 10px;
}

h2 {
    margin-top: 20px;
}

/* Collapsible form */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.tab-container {
    width: 100%; /* Or set a specific width */
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #558598;
    /* Use flexbox for layout */
    display: flex;
    /* Vertically center title and buttons */       
    align-items: center;
}

.title-container {
    display: flex;             /* Use flexbox for title and logo */
    align-items: center;       /* Vertically center title and logo */
    margin-left: 20px;          /* Add some space to the left */
}
  
.title-container h1 {
    margin: 0 10px 0 0;         /* Adjust spacing around title */
}
  
.title-container img {
    height: 30px;              /* Adjust logo height as needed */
}

.tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab:hover {
    background-color:   
    #ddd;
}

.tab.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 50px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-generator {
    padding: 50px 12px;
}

.tab-gantt {
    padding: 30px 12px;
}