
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #e0ffff, #cce0ff);
    min-height: 100vh;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #3883b1;
    color: white;
}

.topnav img {
    vertical-align: middle; 
}

.view {
    display: none; 
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"], input[type="text"], textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.percentage-input-wrapper {
    /* Required for positioning the pseudo-element */
    position: relative;
}

.percentage-input-wrapper::after {
    content: '%';
    position: absolute;
    right: 90%; /* Adjust as needed */
    top: 30%;
    transform: translateY(-30%); /* Center vertically */
    pointer-events: none; /* So the '%' doesn't interfere with the input */
}

button {
    padding: 10px 20px;
    background-color: #3883b1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Spacing and separators */
button + button {
    margin-left: 10px;
}

h1 {
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
}

/* Collapsible form */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

* {
    box-sizing: border-box;
}
  
/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns */
.column {
    flex: 25%;
    padding: 20px;
}
  
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

.horizontal-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}